/*
   Template Style Sheet
*/

nav {
  
  color: whitesmoke;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

#about {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px ;
  
}

body {
  text-align: left;
  background-image: url(../images/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron {
  background-color: #ffffffbe;
  border-radius: 10px;
}

.container {
  margin-top: 10px;
  width: 80%;
}

section {
  margin-bottom: 5em;
}

table input {
  position: absolute;
  display: block;
  top:0;
  left:0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: 0;
  border-color: grey;
  background-color: transparent;
  padding: 10px;
}
tbody, thead {
  background-color: rgba(255, 255, 255, 0.856);
  
  
}

th, td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


table .save-btn {
  display: block;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
  padding-top: 5px;
  background-color: white;
  color: grey;
  width: 100%;
  position: fixed;
  border-top: 4px solid rgb(153, 152, 152);
  left: 0;
  bottom: 0;
}
